@use "../utils/" as *;

.container {
  padding-inline: 1rem;
  max-width: 70rem;
  margin-inline: auto;
}

.container-cta {
  padding-inline: 1rem;
  max-width: 23rem;
  margin-inline: auto;
  @include md-size {
    max-width: 45rem;
  }
  @include lg-size {
    max-width: 71rem;
  }
}
