@use "../utils/" as *;

.footer {
  background-color: #fff;
  padding-bottom: 4rem;

  &__logo {
    margin-inline: auto;
    margin-bottom: 3rem;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .social__link {
      display: flex;
      color: #584d62;
      transition: fill 0.2s ease-in-out;
      &:is(:hover, :focus) {
        color: $color-primary;
      }
    }
  }
}
