// Colors
$color-primary: #24053e;
$color-secondary: #44ffa1;
$color-tertiary: #fcf8ff;

// Typography
$font-family-primary: "Manrope", sans-serif;
$font-family-secondary: "Fraunces", serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.75rem;
